{% extends "base.html"%} {% load static %}
<!-- ______________________________________________________________---  -->
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogApp/index.css' %}" />
{% endblock %}
<!-- ___________________________________________________________________________________________-- -->
{% block title %} not Found {% endblock %}
<!-- ______________________________________________________________--- -->
{% block content %}
<article class="post">
  <h2>We'r sory!!!!!!</h2>
  <p>but we culdn't find this pages</p>
</article>
{% endblock %}
