#stored_post{
    margin: 8rem auto ;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    background-color: aqua;
    width: 90%;
    max-width: 30rem;
}
#stored_post ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#stored_post li{
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
}
#stored_post a{
    display: block;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
}

#stored_post a:hover,
#stored_post a:active{
    background-color: #ccc;
}
