{% extends "base.html"%} {% load static %}
<!-- ______________________________________________________________---  -->
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogApp/index.css' %}" />
{% endblock %}
<!-- ___________________________________________________________________________________________-- -->
{% block title %} Leo Blog's {% endblock %}
<!-- ______________________________________________________________--- -->
{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blogApp/photos/man.png"%}" alt="Dewa" />
    <h2>Leo Busines and Grow</h2>
  </header>
  <p style="text-align:center";">Everythong yo need to know about life</p>
</section>

<section id="latest-posts">
  <h2>My latest Toughts</h2>
  <ul>
    {% for post in posts %}
    <!-- ______________________________________________________________--- -->
    {% include "../includes/post.html" %}
    <!-- ______________________________________________________________--- -->
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What i do</h2>
  <p>
    I love programing ilove to help others and i ejoy exploring new tecnologie
  </p>
  <p>
    my gols is keeep on growing as developer and if icould help you do the sam
    i'd be to be happy
  </p>
</section>

{% endblock %}
