{% extends "base.html"%} {% load static %}
<!-- ______________________________________________________________---  -->
{% block css_files %}
<link rel="stylesheet" href="{% static 'blogApp/stored_post.css' %}" />
{% endblock %}
<!-- ___________________________________________________________________________________________-- -->
{% block title %} My Stored Posts{% endblock %}
<!-- ______________________________________________________________--- -->
{% block content %}


<section id="stored_post">
  <h2>there is your sotored posts</h2>
  <ul>
    {% if not has_posts %}
    <p> you did't savaa any post</p>
    {% endif%}
    {% for post in  posts  %}
    <li><a href="{% url "post_detail_pages"  post.slug %}"><h1>{{post.title}} </h1> </a></li>
    {% endfor %}
  </ul>
</section>

{% endblock %} 
